<div class="container">
  <div class="row">
    <div class = "col-md-1"></div>
    <div class="col-md-10">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/assets/school.jpg" alt="" class="img-responsive">
      <div class="carousel-caption">
        <h3>アクティブラーナーを育てたい</h3>
      </div>
    </div>
    
    <div class="item">
      <img src="/assets/fujimi.jpg" alt="..." class="img-responsive">
      <div class="carousel-caption">
        <h3>主体的な生徒を育てるには？</h3>
      </div>
    </div>
    
    <div class="item">
      <img src="/assets/Retrieval.jpg" alt="..." class="img-responsive">
      <div class="carousel-caption">
        <h3>想起練習ってどうしたらいいの？</h3>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-7">
      
      <div class="row">  
        <div class="col-sm-6">
          <div class="thumbnail">
          <a href="/activities">
            <img src="/assets/photo01.jpg" alt="" >
              <div class="caption link">
                <h3>アクティビティ紹介</h3>
                <p>明日から使える活動例</p>
              </div>
          </a>
          </div>
        </div> 
      
        <div class="col-sm-6">
          <div class="thumbnail">
          <a href="/reports">
            <img src="/assets/point02.jpg" alt="" >
              <div class="caption link">
                <h3>実践報告</h3>
                <p>富士見の先生方による実践報告</p>
              </div>
          </a>
          </div>
        </div> 
      </div><!--row-->
      
      <div class="row">  
        <div class="col-sm-6">
          <div class="thumbnail">
          <a href="/theories">
            <img src="/assets/bg-about.jpg" alt="" >
              <div class="caption link">
                <h3>理論・論文</h3>
                <p>学習理論の最新成果を紹介</p>
              </div>
          </a>
          </div>
        </div> 
      
        <div class="col-sm-6">
          <div class="thumbnail">
          <a href="/papers">
            <img src="/assets/bg-about.jpg" alt="" >
              <div class="caption link">
                <h3>資料</h3>
                <p>そのまま使えるプリントなど</p>
              </div>
          </a>
          </div>
        </div> 
      </div><!--row-->
   </div>
  
    <div class="col-md-3">
      <div class="submenu panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">新着記事</h3>
        </div>
        <% @activities.first(5).each do |activity| %>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to(activity.title, "/activities/#{activity.id}") %></li>
          </ul>
        </div>
        <% end %>
      </div>
    </div><!--col-->
  </div><!--row-->
  </div><!--container-->
  
  
  