<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Active Learning</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery読み込み -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <%= csrf_meta_tags %>
    <style>
      * { 
        font-family:  'Hiragino Kaku Gothic Pro', 'Meiryo'
      }
    
      .menu {
        margin: 0
        border: none;
        background-color: #fff;
      }
      
      .menu h1 {
        font-size: 25px;
        
      }
      .menu .collapse {
        margin-top: 10px;
        font-size: 12px;
      }
      
      .menu .navbar-toggle {
        margin-top: 17px;
      }
      
      .menu a {
        text-decoration: none;
      }
      
      /* グローバルメニュー */
      
      .global {
        padding: 0;
        background-color: #fff;
        border-bottom: solid 1px #aaa;
        border-top: solid 1px #aaa;
        margin-bottom: 10px;
      }
      
      @media (min-width: 768px) {
      .global ul,
      .global ol {
        display :table;
        width: 100%;
        table-layout: fixed;
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 1.4;
        list-style: none;
        border-bottom: solid 1px #aaa;
   
        }
        
      
      .global li {
        display: table-cell;
        text-align: center;
        font-size: 16px;
        float: left;
      }
      
      .global li a {
        padding: 10px 0;
        border-right: solid 1px #aaa;
      }
      
      .global li:hover {
        background-color: #D3D3D3;
      }
      
      
      .global li:first-child a {
        border-left: solid 1px #aaa;
      }
      
      .global .navbar-nav,
      .global .navbar-nav>li {float: none;}
      
      .global .navbar-collapse:before,
      .global .navbar-collapse:after,
      .global .nav:before,
      .global .nav:after
      {display: none;}
      
        
      } /* @media @/
      
      /* カルーセル */
      .carousel {
        margin-bottom: 70px;
      }
      
      .carousel .item{
        height: 230px;
        padding: 0px
      }
      
      .carousel .item img{
        width: 100%
      }
      /*.carousel .item {
        height: 100%;
      }

      .carousel img {
        width: 100%;
        height: auto;
      } */
      

      
      .carousel-caption {
        left: 15%;
        bottom: 40px;
        text-align: left;
      }
      
      .carousel-caption h3 {
        font-size: 42px;
      }
      
      @media (max-width: 680px) {
        .carousel-inner >.item > img {min-width: 500px;}
        .carousel-control {width: 20px;}
        .carousel-caption {bottom: 0;}
        .carousel-indicators {bottom: 0;}
        .carousel-caption h3 {font-size: 20px;}
        .carousel-caption p {font-size: 12px;}
        } /* @media */  
      
      .thumbnail {
        width:310px;
        height: 270px;
      }
      
      .thumbnail a img {
        width: 100%;
        height: 170px;
      }
      
      .submenu {

      }
      
    </style>
        
        
  </head>



  <body>
    <div class="menu navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">メニュー</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1><a href="">アクティブラーニング委員会</a></h1>
        </div>
      </div>
    </div>
    
    <div class="global navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="">ホーム</a></li>
            <li><a href="">活動データベース</a></li>
            <li><a href="">実践報告</a></li>
            <li><a href="">理論・論文</a></li>
            <li><a href="">資料</a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <%= yield %>

  </body>
</html>
